@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f1f1;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

h1 {
  margin-top: 0;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.app {
  margin: 4rem auto;
  padding: 2rem 3rem;
  max-width: 500px;
  background-image: url("../images/resizedDesktopImg.jpg");
  color: #f7f1f1;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  list-style: none;
}

.todo-header {
  margin-bottom: 50px;
  margin-left:30px;
 
}

form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;

}
.description-form {
  margin-top: 0.5rem;

}

.text-field {
  width: 100%;
  color: #fff;
}

form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  color: #fff;
}

form input[type="submit"] {
  padding: 0 1.3rem;
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

form input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

form input,
form input[type="submit"] {
  height: 3rem;
}


.priority-btn {
  margin-left: 40px;
}


.arrow {
position:absolute;
margin-left: 100px;
color: black;
}


#delete-button {
  width: 10%;
  padding: 0 0 5px 0;
  margin-left: 5px;
  background: none;
  border: none;
}

#delete-button i {
  background-color: none;
  color: #fff;
}

.task-container {
  margin-top: 10px;
  margin-left:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  color: #444;
  opacity: 0.9;
  padding: 0 1.8rem 0 1rem;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  overflow:none;
  width: 80%;
}

#buttonDeets {
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  font-size: 20px;
  height: auto;
}
.priority-buttons {

  padding: 0;
  opacity: 0.9;
  text-transform: uppercase;
  margin-top: 4px;
  margin-left: 8px;
  cursor: pointer;
  transition: background 0.2s ease-out;
  width: 30%;
 
}

.priority-btn {
  margin-right: 50px;
}
.icons-priority{
  color: black;
  font-size:30px;
}


.complete-buttons {
  padding: 0 1.3rem;
  color: #444;
  opacity: 0.9;
  text-transform: uppercase;
  margin: 5px 0 0 10px;
  cursor: pointer;
  transition: background 0.2s ease-out;
  height: 3rem;
  width: 60%;
 
}

.show-add-form{
 left:50%;
 margin-left:-40px;
 margin-top:25px;

}

.description-buttons {
  padding: 0;
  text-align: center;
  height: 3rem;
  width: 100%;
  font-size: 14px;
}
.complete-button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#delete-button:hover {
  color: #fff;
}

button select {
  text-transform: none;
}

.unordered-tag {
  padding: 0;
}
.container-todo {
  text-align: center;
}
